<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 mx-auto mt-4">
            <img  class="img-fluid mx-auto" src="~/ShallNotPass.jpg" alt="Alternate Text" />
        </div>       
    </div>
    <div class="row">
        <div class="col-sm-8 mx-auto mt-4 ">
            <h3>Unauthorized Access</h3>
        </div>
    </div>
</div>