@{
    ViewData["Title"] = "Register";
}

    <div class="row">
        <h1>Welcome</h1>
        <div class="col-sm-12">
            <p>@ViewBag.JSONString</p>
        </div>

        <div class="col-sm-12">
            <p>@ViewBag.SomeData</p>
        </div>

    </div>


